{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<div id="changePassword-div">
    <form action="/change-password" method="post" id="changePassword-form">
        <div class="form-div">
            <label for="oldPassword">Old Password</label>
            <input class="input-field" id="old-password" name="old-password" type="password" placeholder="Old Password" autocomplete="off" autofocus required>
            <label for="password" style="margin-top: 15px;">New Password</label>
            <input class="input-field" id="new-password" name="new-password" type="password" placeholder="New Password" required>
            <label for="confirmation" style="margin-top: 15px;">Confirm Password</label>
            <input class="input-field" id="confirmation" name="confirmation" type="password" placeholder="Confirm Password" required>
            
            <div class="button-div">
                <button id="changePassword-button" type="submit">Change Password</button>
            </div>  
        </div>
    </form>
</div>
{% endblock %}
